a.back {
	margin: 0 auto;
	display: block;
	width: 100px;
}

#main {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	color: white;
}
#main h1 {
	font-family: 'Lato', 'Calibri', sans-serif;
	font-size: 30pt;
	font-weight: 200;
	text-align: center;
}
#main > div {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
#main div > div {
	flex: 1;
	max-width: 400px;
}
#main h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 400;
}
#main ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#main li {
	padding: 10px 0;
	border-bottom: 1px solid #AAA;
	display: inline-block;
}
#main span {
	display: inline-block;
	width: 140px;
}
#main input {
	width: 100px;
}
#main button {
	width: 100px;
}
#exit_main {
	text-align: center;
	margin: 50px auto 0;
	display: block;
}