doctype
html(lang='pl')
	head
		title Tanks 2D - BETA
		include ./includes/meta.jade
		link(rel='stylesheet', href='sites/beta/style.css', type='text/css')
		link(rel='stylesheet', href='data/style/light.css', type='text/css')
	body
		header
			include ./includes/menu.jade
			h1 Projekty
		div#main
			div#projects
				div.project
					h3
						a(href="/real-tanks") Real Tanks
					img(src="sites/beta/real-tanks.png")
				div.project
					h3
						a(href="/") Coś jeszcze
				div.project
					h3
						a(href="/") Coś jeszcze
				div.project
					h3
						a(href="/") Coś jeszcze
	include ./includes/footer.jade
