doctype
html(lang='pl')
	head
		title Tanks 2D
		meta(charset='utf-8')
		meta(http-equiv='PRAGMA', content='NO-CACHE')
		meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
		meta(name='author', content='Maciej Bukowski')
		link(rel='stylesheet', href='css/beta.css', type='text/css')
		script(src='scripts/jquery-2.1.0.min.js')
		script(src='scripts/beta.js')
	body
		canvas
