doctype
html(lang='pl')
	head
		title Tanks 2D
		include ./includes/meta.jade
		meta(name='viewport' content='width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5 user-scalable=no')
		link(rel='stylesheet', href='sites/game/style.css', type='text/css')

		script(src='sites/game/additions.js')
		script(src='sites/game/index.js')
		script(src='sites/game/chat_settings.js')

	body.game
		h1 Tanks 2D
		div#main
			canvas#game
			canvas#active
			
			div#clients
			ul#messages
			input#chat(autocomplete="off") 

			div#player_panel
				img.settings(src='sites/game/img/settings.png')
				img.chat(src='sites/game/img/chat.png')

			div#hp
				div.taken_damage
				span
			div#abilities
				div#lpm
					div.info LPM
					div.amount 100
				div#ppm
					div.info PPM
					div.amount 3
		div#settings
			H2 Ustawienia
			div
				div.basic
					h3 Podstawowe
					ul
						li 
							span Poziom dźwięku:
							input#sound_volume(type="range", min="0", max="1", step="0.02")
						li
							span Brak trawy
							input#brak_trawy(type="checkbox")
				div.advanced
					h3 Zaawansowane
					ul
						li 
							span Opóźnienie:
							input#game_delay(type="text")
				div.controls
					h3 Sterowanie
					ul
						li
							span Ruch:
							span [WSAD], Strzałki
						li
							span Strzał:
							span [Space], LPM
						li
							span Aktywny skill:
							span PPM
						li
							span Skill'e
							span [1], [2], ...
						li
							span Chat:
							span [ENTER]
						li
							span Zmiana umiejętności:
							span [TAB]
			button#exit_settings Powrót do gry
			button#exit_game(onclick='location.href="/"') Wyjdź z gry