doctype
html(lang='pl')
	head
		title Tanks 2D
		meta(charset='utf-8')
		meta(http-equiv='PRAGMA', content='NO-CACHE')
		meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
		meta(name='description', content='Simple 2D multiplayer game')
		meta(name='keywords', content='tanks, 2d, tanks-2d, game, maciej, bukowski')
		meta(name='author', content='Maciej Bukowski')
		meta(name='viewport' content='width=device-width, initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5 user-scalable=no')
		link(rel='stylesheet', href='css/game.css', type='text/css')
		link(rel='icon', href='img/favicon.png')
		script(src='/socket.io/socket.io.js')
		script(src='scripts/jquery-2.1.0.min.js')
		script(src='scripts/client.js')
		script(src='scripts/chat.js')
	body
		div#main
			canvas#game
			canvas#active
			
			div#clients
			ul#messages
			input#chat(autocomplete="off") 

			div#player_panel
				img.settings(src='img/settings.png')
				img.chat(src='img/chat.png')
					
			div#abilities
			