doctype
html(lang='pl')
	head
		title Tanks 2D
		meta(http-equiv='PRAGMA', content='NO-CACHE')
		meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
		link(rel='stylesheet', href='style.css', type='text/css')
		script(src='lib.js')
		script(src='main.js')
	body
		main
			canvas(width='500', height='500', id='bg')
			canvas(width='500', height='500', id='game')