doctype
html(lang='pl')
	head
		title Tanks 2D
		meta(charset='utf-8')
		meta(http-equiv='PRAGMA', content='NO-CACHE')
		meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
		meta(name='description', content='Simple 2D multiplayer game')
		meta(name='keywords', content='tanks, 2d, tanks-2d, game, maciej, bukowski')
		meta(name='author', content='Maciej Bukowski')
		meta(name='viewport' content='width=device-width, initial-scale=0.8, maximum-scale=0.8, minimum-scale=0.8')

		link(rel='stylesheet', href='css/main.css', type='text/css')
		link(rel='stylesheet', href='css/buttons/buttons.css', type='text/css')
		link(rel='icon', href='img/favicon.png')
		script(src='/socket.io/socket.io.js')
		script(src='scripts/jquery-2.1.0.min.js')
		script(src='scripts/main.js')
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-58877317-2', 'auto');
			ga('send', 'pageview');
	body
		header
			h1 Tanks 2D 
				span v 1.0
		div#main
			form(action="javascript:play()")
				div#play Play as
					input.nick(placeholder="Your nick", pattern="[0-9A-Za-z]{4,15}", required="required")
					button.big.positive(type='submit') Play
			a.button.big(href='/tutorial') Tutorial
			a.button.big(href='/settings') Settings
		footer
			a(href="mailto:ma2ciek@gmail.com?subject=Tanks-2D") Maciej Bukowski
			span , 2015