doctype
html(lang='pl')
	head
		title Tanks 2D
		meta(http-equiv='PRAGMA', content='NO-CACHE')
		meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
		link(rel='stylesheet', href='style.css', type='text/css')
		script(src='/socket.io/socket.io.js')
		script(src='lib/jquery-2.1.0.min.js')
		script(src='lib/stats.min.js')
		script(src='client.js')
	body
		canvas(id='game')
		div#chat
			div#clients
			ul#messages
			input#m(autocomplete="off") 