doctype
html(lang='pl')
	head
		title Tanks 2D - Real-tanks project
		include ./includes/meta.jade
		link(rel='stylesheet', href='sites/real-tanks/style.css', type='text/css')
		script(src='sites/real-tanks/index.js')
	body
		header
			include ./includes/menu.jade
			h1 Projekt - ulepszone czołgi
		div#main
			canvas
	include ./includes/footer.jade
