doctype
html(lang='pl')
	head
		title Tanks 2D - Tutorial
		include ./includes/meta.jade
		link(rel='stylesheet', href='sites/tutorial/style.css', type='text/css')
	body
		header
			include ./includes/menu.jade
			h1. 
				Tutorial
				<span class="blue">&</span> 
				FAQ
		div#main
			div.faq
				h3 Co zrobić jeśli gra działa wolno lub niepłynnie?
				ul
					li Zamknij inne karty i aplikacje działające w tle
					li Wyłącz 'trawę' w ustawieniach
					li Zmniejsz okno przeglądarki
					li Dostosuj 'opóźnienie' w ustawieniach, żeby znaleźć kompromis pomiędzy opóźnieniem wyświetlanych informacji i płynnością gry
					li Zrestartuj przeglądarkę
					li Spróbuj na innej przeglądarce - najlepiej Google Chrome
					li Jeśli ciągle masz problem, to wyślij 
						a(href="mailto:ma2ciek@gmail.com&subject='Tank-2d, lagi'") e-maila
						span , a postaram się go naprawić
		include ./includes/footer