doctype
html(lang='pl')
	head
		title Tanks 2D
		meta(charset='utf-8')
		meta(http-equiv='PRAGMA', content='NO-CACHE')
		meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
		meta(name='description', content='Simple 2D multiplayer game')
		meta(name='keywords', content='tanks, 2d, tanks-2d, game, maciej, bukowski')
		meta(name='author', content='Maciej Bukowski')
		link(rel='stylesheet', href='css/tutorial.css', type='text/css')
		link(rel='stylesheet', href='css/buttons/buttons.css', type='text/css')
		link(rel='icon', href='img/favicon.png')
		script(src='/socket.io/socket.io.js')
		script(src='scripts/jquery-2.1.0.min.js')
		script(src='scripts/main.js')
	body
		header
			h1 Poradnik & FAQ
		div#main
			a#play.button.big(href='/') Strona Główna
			div.faq
				h3 Co zrobić jeśli gra działa wolno lub niepłynnie?
				ul
					li Zamknij inne karty i aplikacje działające w tle
					li Wyłącz 'trawę' w ustawieniach
					li Zmniejsz okno przeglądarki
					li Dostosuj 'opóźnienie' w ustawieniach, żeby znaleźć kompromis pomiędzy opóźnieniem wyświetlanych informacji i płynnością gry
					li Zrestartuj przeglądarkę
					li Spróbuj na innej przeglądarce - najlepiej Google Chrome
					li Jeśli ciągle masz problem, to wyślij 
						a(href="mailto:ma2ciek@gmail.com&subject='Tank-2d, lagi'") e-maila
						span , a postaram się go naprawić
