doctype
html(lang='pl')
	head
		title Tanks 2D
		meta(charset='utf-8')
		meta(http-equiv='PRAGMA', content='NO-CACHE')
		meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
		meta(name='description', content='Simple 2D multiplayer game')
		meta(name='keywords', content='tanks, 2d, tanks-2d, game, maciej, bukowski')
		meta(name='author', content='Maciej Bukowski')
		link(rel='stylesheet', href='css/main.css', type='text/css')
		link(rel='stylesheet', href='css/buttons/buttons.css', type='text/css')
		link(rel='icon', href='img/favicon.png')
		script(src='/socket.io/socket.io.js')
		script(src='scripts/jquery-2.1.0.min.js')
		script(src='scripts/main.js')
	body
		header
			h1 Tutorial
		div#main
			a#play.button.big.positive(href='/') Back
			p In progress...
