doctype
html(lang='pl')
	head
		title Tanks 2D
		meta(http-equiv='PRAGMA', content='NO-CACHE')
		meta(http-equiv='CACHE-CONTROL', content='NO-CACHE')
		link(rel='stylesheet', href='css/main.css', type='text/css')
		link(rel='stylesheet', href='css/buttons/buttons.css', type='text/css')
		script(src='/socket.io/socket.io.js')
		script(src='scripts/jquery-2.1.0.min.js')
		script(src='scripts/main.js')
	body
		header
			h1 Tutorial
		div#main
			a#play.button.big.positive(href='/') Back
			p In progress...
