body {
	margin: 0;
	background: #333;
}

main {
	margin: 20px auto;
	background: white;
	display: block;
	position: relative;
}

canvas#bg {
	z-index: 0;
	position: absolute;
}

canvas#game {
	z-index: 1;
	position: absolute;
}