@font-face{
	font-family: Lato;
	src:url('./fonts/lato/Lato-Hairline.ttf') format('truetype');
	font-weight: 100;
}
@font-face{
	font-family: Lato;
	src:url('./fonts/lato/Lato-Light.ttf') format('truetype');
	font-weight: 200;
}
@font-face{
	font-family: Lato;
	src:url('./fonts/lato/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
}







body {
	min-height: 100%;
	background-color: #333;
	margin: 0;
	color: #FFF;
	font-family: Lato, Calibri, Arial;
    overflow: hidden;
    margin-top: calc(50vh - 150px);
}
img.bg {
	position: absolute;
	width: 1000px;
	height: 1000px;
}

header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

h1 {
	font-family: 'Lato', 'Calibri', sans-serif;
	font-size: 30pt;
	font-weight: 200;
	margin: 0;
}
h1 span {
	font-size: 15pt;
	margin-left: 10px;
}

div#main {
	width: 300px;
	margin: 0 auto;
	display: flex;
}
div#main a {
	flex: 1;
	text-align: center;
	margin: 0 4px;
}