body {
	margin: 0;
	background: #000;
	font-family: Arial, Calibri;
	-webkit-user-select: none;
	-khtml-user-select: none;
	overflow: hidden;
}

canvas#game {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	background: #333;

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
canvas#active {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	cursor: crosshair;

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
#chat {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 300px;
	height: 300px;	
	z-index: 10;
}
div#clients {
	background: #57c;
	border: 1px solid #05a;
	color: white;
	padding: 4px 4px 4px 20px; /* 20px from left */
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 20px;
	line-height: 20px;
}
ul#messages {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 241px;
	overflow: auto;
	background: white;
	padding-bottom: 10px;
}
ul li {
	margin: 5px 10px;
}
#chat span {
	display: inline-block;
	border-radius: 10px;
	padding: 4px 10px;
	background: #EEE;
}
#chat li.my {
	text-align: right;
}
#chat li.my span {
	background: #09f;
	color: white;
	max-width: 200px;
}
#chat li.neutral span {
	text-align: center;
	background: inherit;
	display: block;
}
#chat input#m {
	position: absolute;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
}